
@{
    ViewBag.Title = "Index";
}





<div ng-app="myApp" class="ng-cloak"class="container">
    <div ng-view></div>
</div>





<script src="//code.angularjs.org/1.3.0-rc.1/angular.min.js"></script>
<script src="https://code.angularjs.org/1.3.0-rc.1/angular-route.min.js"></script>
<script src="~/Scripts/app.js"></script>